:root {
  --primary: #008cba;
  --color: #5f9ea0;
}

* {
  font-family: "Gochi Hand", cursive;
}

/* body {
  display: grid;
  grid-template-columns: 1fr 2fr;
} */

.nav-container {
  height: 100%;
  width: 300px;
  z-index: 1;
  overflow: hidden;
  position: fixed;
  padding-top: 3.5em;
  text-align: center;
  background-color: aliceblue;
}

.header {
  padding-top: 0.63em;
  font-size: 2.5em;
  color: var(--primary);
}

.para {
  font-size: 1.3em;
  color: var(--primary);
}

nav {
  padding-top: 2em;
  font-size: 1.5em;
}

.profile-image {
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
}

.sm-container {
  display: flex;
  justify-content: space-around;
  padding: 5em 0 1.5em 0;
}

.sm-icons {
  max-width: 50px;
  max-height: 50px;
}

/* Main Content */

.main {
  margin-left: 300px;
  padding: 0 10px;
}

.heading {
  position: relative;
  text-align: center;
  color: var(--color);
  font-size: 4em;
}

.jumbo-div {
  text-align: center;
  color: var(--color);
}

.contact {
  margin: auto;
  max-width: 750px;
}

.skill-container {
  width: 100%;
  background-color: #ddd;
  border-radius: 20px;
}

.skills {
  text-align: right;
  padding-top: 5px;
  padding-bottom: 5px;
  color: black;
  font-size: 20px;
}

.skill-title {
  top: 0;
  left: 0;
}

.html {
  width: 90%;
  padding-right: 10px;
  background-color: coral;
  border-radius: 20px;
}

.css {
  width: 80%;
  padding-right: 10px;
  background-color: darkolivegreen;
  border-radius: 20px;
}

.js {
  width: 60%;
  padding-right: 10px;
  background-color: deepskyblue;
  border-radius: 20px;
}

.react {
  width: 40%;
  padding-right: 10px;
  background-color: gold;
  border-radius: 20px;
}

.ng {
  width: 40%;
  padding-right: 10px;
  background-color: indianred;
  border-radius: 20px;
}

.node {
  width: 40%;
  padding-right: 10px;
  background-color: lightsalmon;
  border-radius: 20px;
}

.skill-main {
  /* max-width: 750px; */
  padding-bottom: 3em;
}

.skill-div,
h3 {
  color: var(--color);
  margin: 0;
}

/* .skill-div {
  padding-left: 20%;
} */

@media screen and (max-width: 600px) {
  body {
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .nav-container {
    width: 100%;
    height: auto;
    position: relative;
  }

  .main {
    width: 100%;
    margin-left: 0;
  }

  .heading {
    font-size: 3em;
  }

  #navbar {
    display: none;
  }

  .nav-toggle {
    padding-left: 50%;
    display: block;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    cursor: pointer;
    margin: 6px 0;
    transition: 0.4s;
  }
}
